/* Variables */
:root {
	--background-default: #FAFAFA;
	--action-main: rgba(14, 13, 15, 0.64);
	--action-main-svg: rgb(14, 13, 15);
	--divider-main: rgba(14, 13, 15, 0.08);
	--text-primary: #0E0D0F;
	--text-secondary: rgba(14, 13, 15, 0.70);
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast: #0A090A;
	--purple-main: #6F76C0;
	--mask-gradient: linear-gradient(270deg, rgba(14, 13, 5, 0.00) 0%, #ECECEC 79.5%);
	--mask-gradient-second: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%);
	--accent-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
	--background-80: rgba(250,250,250, 0.80);
}