/* Styles intended only for the front.*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
	text-decoration: none;
}

p {
	line-height: 1.3;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-style: normal;
	font-family: Urbanist, sans-serif;
	font-size: clamp(1rem, calc(0.93rem + 0.33vw), 1.25rem);
	line-height: 1.6;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--text-primary);
}

.alignFull {
	max-width: 100vw !important;
	margin-right: calc(var(--wp--style--root--padding-right) * -1) !important;
	margin-left: calc(var(--wp--style--root--padding-left) * -1) !important;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}



/* Variables */
:root {
	--background-default: #FAFAFA;
	--action-main: rgba(14, 13, 15, 0.64);
	--action-main-svg: rgb(14, 13, 15);
	--divider-main: rgba(14, 13, 15, 0.08);
	--text-primary: #0E0D0F;
	--text-secondary: rgba(14, 13, 15, 0.70);
	--secondary-48: rgba(250, 250, 250, 0.48);
	--white-contrast: #0A090A;
	--purple-main: #6F76C0;
	--mask-gradient: linear-gradient(270deg, rgba(14, 13, 5, 0.00) 0%, #ECECEC 79.5%);
	--mask-gradient-second: linear-gradient(180deg, rgba(250, 250, 250, 0.00) 0%, #FAFAFA 100%);
	--accent-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
	--background-80: rgba(250, 250, 250, 0.80);
	--background-2: rgba(250, 250, 250, 0.02);
	--divider-input: rgba(14, 13, 15, 0.24);
}

.dark-mode-gamestore {
	--background-default: #0E0D0F;
	--action-main: rgba(255, 255, 255, 0.64);
	--action-main-svg: rgb(255, 255, 255);
	--divider-main: rgba(255, 255, 255, 0.12);
	--text-primary: #FFFFFF;
	--text-secondary: rgba(225, 225, 225, 0.70);
	--secondary-48: rgba(14, 13, 15, 0.60);
	--white-contrast: #FFFFFF;
	--wp--preset--color--base: #0E0D0F;
	--wp--preset--color--contrast: #FFFFFF;
	--mask-gradient: linear-gradient(270deg, rgba(14, 13, 15, 0.00) 0%, #0D0B0F 79.5%);
	--mask-gradient-second: linear-gradient(180deg, rgba(14, 13, 15, 0.00) 0%, #0E0D0F 100%);
	--background-80: rgba(14, 13, 15, 0.80);
	--background-2: rgba(14, 13, 15, 0.02);
	--divider-input: rgba(214, 255, 255, 0.24);
}

.wrapper {
	width: 100%;
	max-width: 1540px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Urbanist;
	font-size: normal;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
}

h1 {
	font-size: clamp(2.5rem, calc(2.11rem + 1.97vw), 4rem);
}

h2 {
	font-size: clamp(2.25rem, calc(1.95rem + 1.48vw), 3.38rem);
}

h3 {
	font-size: clamp(2rem, calc(1.8rem + 0.98vw), 2.75rem);
}

h4 {
	font-size: clamp(1.75rem, calc(1.65rem + 0.49vw), 2.13rem);
}

h5 {
	font-size: clamp(1.5rem, calc(1.4rem + 0.49vw), 1.88rem);
}

input[type="text"],
input[type="email"] {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	padding: 16px 24px;
	border-radius: 5px;
	border: 1px solid var(--divider-input, rgba(14, 13, 15, 0.24));
	background: transparent;
	color: var(--text-secondary, rgba(14, 13, 15, 0.70));
	font-family: Ubuntu, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1;
	cursor: pointer;
}

.hero-button,
input[type="submit"] {
	border: 0;
	outline: 0;
	border-radius: 5px;
	display: flex;
	padding: 20px 32px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: Ubuntu, sans-serif;
	font-weight: 700;
	line-height: 140%;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	background: var(--accent-gradient, linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%));
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&.shadow {
		box-shadow: 0px 16px 24px 0px rgba(61, 175, 226, 0.46);
	}

	&:hover {
		background: linear-gradient(90deg, #6F76C0 0%, #555ba5 100%);
		transition: all 0.3s ease-in-out;

		&.shadow {
			box-shadow: 0px 8px 12px -6px rgba(61, 175, 226, 0.46);
			transition: all 0.3s ease-in-out;
		}
	}
}

/* Search-------------------------------- */

.popup-games-search-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: rgba(14, 13, 15, 0.9);
	backdrop-filter: blur(8px);
	padding-top: 48px;
	padding-bottom: 0;
	box-sizing: border-box;
}

#close-search {
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
	background: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.4"><path d="M1.5 17.5L17.5 1.5" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.5 17.5L1.5 1.5" stroke="%23FAFAFA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></g></svg>') center center no-repeat;
	transition: all .3s;
}

#close-search:hover {
	opacity: 70%;
}

.search-container .search-bar {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.search-container .search-bar .search-label {
	color: #fff;
}

#popup-search-input {
	height: 60px;
	padding: 16px 24px;
	border-radius: 5px;
	border: 1px solid rgba(255, 2555, 255, 0.24);
	background: rgba(250, 250, 250, 0.04);
	color: rgba(250, 250, 250, 0.70);
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	box-sizing: border-box;
	font-family: "Urbanist";
}

.search-popup-title {
	margin-bottom: 24px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	box-sizing: border-box;
	font-family: "Urbanist";
	font-style: normal;
}

.search-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.search-results-wrapper {
	max-height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	box-sizing: border-box;
}

.search-results-wrapper::-webkit-scrollbar {
	display: none;
}

.popup-search-results {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	row-gap: 24px;
}

.popup-search-results>div {
	width: calc(16.666% - 13.333px);
}

.game-placeholder {
	border-radius: 8px;
	background: rgba(250, 250, 250, 0.08);
	width: calc(16.666% - 13.333px);
	height: 360px;
	animation: pulse 1.5s infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.game-result .game-featured-image {
	width: 100%;
	height: 340px;
	margin-bottom: 16px;
}

.game-result .game-featured-image img {
	width: 100%;
	height: 340px;
	object-fit: cover;
	margin-bottom: 16px;
	border-radius: 8px;
}

.game-result .game-meta {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.game-result .game-meta h3 {
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	max-height: 20px;
	font-size: 18px;
	font-style: normal;
	line-height: 1.2;
}

.game-result .game-meta .game-price {
	color: #6F76C0;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	display: flex;
	gap: 5px;
}

.game-result .game-meta .game-price ins {
	order: 0;
	text-decoration: none;
}

.game-result .game-meta .game-price del {
	order: 1;
	color: rgba(255, 255, 255, 0.70);
	font-size: 16px;
	line-height: 1.4;
	font-weight: 500;
	text-decoration: line-through;
}

.game-result .game-meta .game-price bdi {
	text-decoration: none;
}